<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <activeProfiles>
        <activeProfile>own</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/Simpig-city/Keklist</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>own</id>
            <repositories>
                <repository>
                    <id>keklist-releases</id>
                    <url>https://repo.sageee.xyz/releases</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                <id>keklist-snapshots</id>
                <url>https://repo.sageee.xyz/snapshots</url>
                <snapshots>
                    <enabled>true</enabled>
                </snapshots>
            </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>github</id>
            <username>${env.GPG_USERNAME}</username>
            <password>${env.GPG_PASSPHRASE}</password>
        </server>
        <server>
            <id>keklist-snapshots</id>
            <username>${env.REPO_USER}</username>
            <password>${env.REPO_PASSWORD}</password>
        </server>
        <server>
            <id>keklist-releases</id>
            <username>${env.REPO_USER}</username>
            <password>${env.REPO_PASSWORD}</password>
        </server>
    </servers>
</settings>