# Settings for every feature of the Keklist Paper plugin

language: "en-us" # Language for the plugin
enable-manage-command: false # Enable the /keklist command to enable/disable the blacklist/whitelist
date-format: "dd-MM-yyyy HH:mm" # Date format for the blacklist/whitelist GUI
chat-notify: false # Notify the player if someone joins the server which is blacklisted/whitelisted

general:
  enable-default-motd: false # Keklist will now display the default motd. NOTE: This will override other motd plugins so it's false by default ; Same as for blacklisted/whitelisted motd
  require-server-list-before-join: false # Require the player to add this server to the server list before joining

ip:
  send-message-on-join: false # Send a message about a player's ip on join
  proxy-allowed: true # Option to block users using proxies, vpns and tor exit relays
# Future Update: bypass-permission: "keklist.bypass.ip" # Permission to bypass the ip checks

# Settings for the blacklist feature
blacklist:
  enabled: true # Enable the blacklist feature
  allow-join-with-admin: false # Allows blacklisted player to join if a player with the admin-permission is online
  admin-permission: "blacklist.admin"
  change-motd: true # Change the motd for players (ips) on the (modt-) blacklist if the server is in blacklist mode. NOTE: Change this to false if you want to use the default motd or any other motd plugin
  limbo: false # May let the player join if nobody is online but fallback kicked; Needs velocity plugin
  icon-file: "default" # The icon for the server if player is blacklisted. Put the file in the same folder as the config. Use default for the default icon
  countries: [ ] # List of countries in ISO 3166-1 A2 that are blacklisted. NOTE: Can be empty ; There won't be an option for blocking cities as this data is not inaccurate enough
  continents: [ ] # List of continents in 2-digit code that are blacklisted. NOTE: Can be empty

# Settings for the whitelist feature
# Note: THIS WILL OVERRIDE THE DEFAULT WHITELIST; It works the same way as the default whitelist but does not import the players automatically
whitelist:
  enabled: false # Enable the whitelist feature
  change-motd: false # Change the motd for players (ips) on the whitelist if the server is in whitelist mode
  hide-online-players: false # This sends fake player's AND fake player counts to the client
  fake-players: # List of fake players that are shown to the client NOTE: Can be empty
    - SageSphinx63920
    - hdgaymer1404Jonas
    - LPTP1
  fake-max-range: 20-40 # Please use the format: INTEGER-INTEGER
  fake-online-range: 0-10 # Please use the format: INTEGER-INTEGER
  level: 0 # Sets the level for the whitelist. Higher level means only level >= entries can join. Leave 0 for default behavior

# Extensions for the plugin
placeholderapi: false # Enable PlaceholderAPI support
plan-support: false # Enable support for the Plan plugin

# Note: If you use a proxy you need to enable 'send-floodgate-data' on the proxy's config
# More: https://wiki.geysermc.org/floodgate/setup/
floodgate:
  prefix: "." # Prefix for the floodgate player. Gets automatically set if geyser is installed
  api-key: "your-api" # https://mcprofile.io api key for getting the floodgate uuid for a bedrock player not being in the server's cache. Please read the wiki for more information

discord:
  enabled: false
  webhook-url: https://discord.com # Webhook url for the discord webhook
  username: "Keklist"  # Username for the webhook
  avatar-url: https://cdn.discordapp.com/attachments/1056727727991959673/1102655035290157176/keklist.png # This is the default avatar from keklist
  events: [ "blacklist_add", "blacklist_remove", "blacklist_kick", "whitelist_add", "whitelist_remove", "whitelist_kick", "limbo" ] # List of events which trigger a message
  ping-roles: [ "214809157574983681" ] # Pings this role on any event. NOTE: Can be empty

# Settings for the database
# This is useful to share the blacklist and whitelist between multiple servers
mariadb:
  enabled: false
  host: localhost
  port: 3306
  database: keklist
  username: root
  password: root
  options: "?useSSL=false&serverTimezone=UTC"

# Messages for the plugin
# This fully supports minimessage
messages:
  motd: # NOTE: Will be ignored unless you enable motd feature explicitly ; motd will also be ignored
    blacklisted:
      - "<red><bold>Your IP is blacklisted on this server!"
      - "<red><bold>You are not allowed to join this server!"
    whitelisted:
      - "<gold><bold>The server is in whitelist mode but you can join."
      - "<gold><bold>Glad you can join us!"
    default:
      - "This is a normal motd"
      - "By default these are visible for everyone"

  kick:
    blacklisted:
      - continent:
          - "<red><bold>You're kicked because your continent is on the blacklist!"
      - country:
          - "<red><bold>You're kicked because your country is on the blacklist!"

      - "<red><bold>You're kicked because you're on the blacklist!"
      - "<red><bold>Sorry, but you're not allowed to join this server!"

    whitelisted:
      - "<gold><bold>You're kicked because the server is in whitelist mode!"
      - "<gold><bold>Sorry, but you're not on the whitelist!"

    whitelisted-level: "<red>Your whitelist level is insufficient, thus you can not join!"

    proxy:
      - "<red><bold>You're kicked because you're using a proxy/vpn!"
      - "<red><bold>Sorry, but you're not allowed to join this server! Please do not use a proxy/vpn!"

    server-list: "<red><bold>You need to add this server to your server list before joining!"

update:
  check: true # Check for updates
  interval: 12 # Check for updates every x hours

# Enable bstats
# This is used to collect anonymous data about the plugin, which helps me to improve the plugin
bstats: true

# Debug mode
# This will enable debug messages in the console
debug: false

# Don't touch it!
config_version: 1