name: API Publish

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'
        server-id: github
        cache: maven
        
    - name: Setup Git
      run: git config --global user.email "no-reply@github.com" && git config --global user.name "Github Actions"
      
    - name: Publish to GitHub Packages
      run: mvn -s $GITHUB_WORKSPACE/settings.xml clean deploy  
      env:
        GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        GPG_USERNAME:  ${{ secrets.GPG_USERNAME }}
        REPO_USER: ${{ secrets.REPO_USER }}
        REPO_PASSWORD: ${{ secrets.REPO_PASSWORD }}
    
    - name: Delete old Packages
      uses: actions/delete-package-versions@v4
      with:
        package-name: "de.sage.minecraft.keklist"
        package-type: maven
        min-versions-to-keep: 5

