name: Translations
on:
  push:
    paths:
      - 'src/main/resources/assets/lang/en-us.json'
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract branch name
        shell: bash
        run: |
          branchName=$(echo ${GITHUB_REF#refs/heads/})
          echo "branch=${branchName/\//"-"}"   >>$GITHUB_OUTPUT
        id: gh_branch

      - name: Crowdin Upload
        uses: crowdin/github-action@v1
        with:
          upload_sources: true
          upload_translations: false

          source: "src/main/resources/assets/lang/en-us.json"
          translation: src/main/resources/assets/lang/%locale%.json

          crowdin_branch_name: ${{ steps.gh_branch.outputs.branch }}
          project_id: ${{ vars.CROWDIN_PROJECT_ID }}
          token: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true